.Contacto{
    text-align: center;
    width: 101%;
    background-color: rgba(249, 251, 251, 0.977);
}

.co{
    margin: 1%;
    height: 110px;
    
}

.body{
    margin: auto;
   
}


  
.buttons {
    min-width: 100px;
    display: flex;
    position: absolute;top: 350px; left: 75px; ;;;
    margin: 1%;
    
}
  
.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #000000;
    color: #f1e044;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
    transition: all .4s ease-in-out;
}
  
  .buttons a:hover {
    transform: scale(1.3);
  }
 


