
.body{
    margin: auto;
   
}

/* .buttons {
    min-width: 100px;
    position: absolute; 
    top: 350px; 
    left: 75px;
    margin: 1%; 
    
    
} */
  
.card {

    height: 430px !important;
    position: relative;
    background-image: url(./img/Imagen_de_contacto.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.buttons{
    position: absolute;
    top: 65%;

}

.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #000000;
    color: #f1e044;
    border-radius: 50%;
    /* box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5); */
    transition: all .4s ease-in-out;
    margin: 10px;
}
  
  .buttons a:hover {
    transform: scale(1.3);
    color:antiquewhite
  }
@media (max-width: 1000px){
    .card {

        height: 430px !important;
        position: relative;
        background-image: url(./img/contactoresponsive.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    
    .buttons{
        position: absolute;
        top: 65%;
    
    }

}
  


