
.nave img{
    width: 30%;
    height: 30%;
}
.collapse{
    text-align: center;
    display: flex;
    align-content: center;
    

}

.nav-item{
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: 400;
}


.accordion-item{
background-color: black;
color: yellow;
}
        

 .accordion-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: yellow;
 }

.accordion-body{
    background-color: grey;
    color:yellow
}



.float{
	position:fixed;
	width:70px;
	height:70px;
	bottom:50px;
	right:50px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
}

.my-float{
	margin-top:20px;
}

.caja{
    background: rgb(87,87,68);
    background: linear-gradient(54deg, rgba(87,87,68,0.9668242296918768) 22%, rgba(227,226,215,0.5102415966386555) 49%, rgba(241,186,17,0.9780287114845938) 63%);

}
.imgfoot{
    width: 35%;
    height:35%;    
    box-shadow:12px 12px 10px rgb(189, 176, 176) ;
}

col{
    align-items: center;
    
}

.col a{
    margin-top: 5px;
    color:white;
    text-decoration: none;
}
.titfooter{
    color: white;
}
.col h2{
    font-size: large;
}

.col a:hover{
    color:yellow;
}

col h6{
    text-decoration: none;
}

.box__copyright{
    
    margin: auto;
    text-align: center;
    padding: 0px 30px;
    background-color:rgb(240, 231, 235) ;
}
.box__copyright p{
    margin-top: 10px;
    font-size: 10px;
    color: black;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color:rgb(8, 7, 8);
}

.parrafo{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}
@media (max-width: 800px) {
    footer .row{
        display: flex;
        flex-direction: column;        
    }
    .col{
        margin-left: 20px;
        padding-top: 10px;
    }
}
