.card-title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
    text-align: center;
    font-weight:bolder;
}
.card text-center{
    background-color: black;
}
.card-img-top{
}
.servicioscaja{
    background-image: url(./img/hormigonn.webp);
}
.card-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    color:black;
}
.acabados{
    font-size:large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:black;
    list-style: none;
}
.card-header{
    font-size: x-large; 
    font-weight: bolder;
}

.card{
    margin: 10px;
}
.card-body{
    background-image: url(./img/grisygold.webp);
}